.container {
  max-width: 600px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: background-color 300ms, box-shadow 300ms;
}

img {
  width: 420px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Center align the form elements */
}

input,
textarea,
button {
  width: 90%; /* Set consistent width for all elements */
  max-width: 400px; /* Limit the maximum width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box; /* Ensure padding is included in the width */
  transition: background-color 300ms, color 300ms, border-color 300ms;
}

textarea {
  resize: vertical; /* Allow vertical resizing only */
}

button {
  background: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
}

button:hover {
  background: #e63939;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ffe6e6;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 300ms;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .container {
    background: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  input,
  textarea {
    background-color: #444;
    color: white;
    border-color: #555;
  }

  button {
    background: #ff6666;
  }

  button:hover {
    background: #ff4d4d;
  }

  li {
    background: #4a4a4a;
    color: white;
  }
}
